
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: none;
    vertical-align: baseline;
}


:root{
    font-size: 62.5%;
}


/*Retirar o X do input */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


header{
    background-color: #899C3D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    padding: 2em;
    min-width: max-content;
}


.logo{
    font-size: 4rem;
    font-family: Inter, sans-serif;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: rgb(2, 29, 0);
    display: flex;
}

.busca{
    position: relative;
}


.busca input{
  width: 480px;
  height: 50px;
  display: block;
  padding: 0.5em;
  border-radius: 25px;
  border: none;
  box-shadow: 0 5px 8px 3px rgb(2, 29, 0);
  font-size: 2rem;
}

.busca input:focus{
    outline: none;
}

.busca button{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(2, 29, 0);
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    font-size: 2rem;
}

.busca button:hover i{
    color:gray
}

.conta{
    font-family: Inter, sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(2, 29, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border:  solid;
    border-radius: 50px;
    padding: 0.7em;
}

.conta:hover{
    background-color: rgb(7, 84, 0);
    color: white;
}

.cabecalho{
    background-image: url(assets/Foto-main.png);
    min-height: 810px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5em;
    color: white;
    min-width: fit-content;
    text-wrap: wrap;
}

.cabecalho h1{
    font-family: Inter, sans-serif;
    font-size: 6.4rem;
    font-weight: medium;
    font-style: italic;
}

.cabecalho p{
    font-family: Inter, sans-serif;
    font-size: 2.8rem;
}

.cabecalho a{
    font-family: Inter, sans-serif;
    font-size: 4rem;
    text-decoration: none;
    color: white;
    background-color: #899C3D;
    border-radius: 60px;
    width: 400px;
    height: auto;
    text-align: center;
    padding: 1.25em;
}

.conteudo{
    margin-top: 100px;
    margin-bottom: 50px;
}


.conteudo h2{
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 5rem;
    margin-bottom: 20px;
}

.conteudo .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 5em;
    column-gap: 2rem;
}

.cartao{
    background-color: #FFFCAE;
    border-radius: 10px;
    width: 380px;
    height: 685px;
    text-align: left;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cartao:hover{
    transform: scale(1.05);
}

.titulo-cartao{
    padding: 10px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
}

.cartao img{
    width: 380px;
    height: 437px;
}


.descrição{
    padding: 0.4em;
    font-family: Inter, sans-serif;
    font-size: 1.8rem;
    overflow-wrap: break-word;
}

.cartao b{
    font-weight: bold;
}

.nav nav{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
}

.nav-link{
    position: relative;
    text-decoration: none;

}

.nav-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.6rem;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: white;
    border: 0.5rem solid white;
    padding: 0.5em;
}

.nav-link img{
    width: 100%;
}

.nav-link:hover img{
    filter: opacity(50%);
}

.quiz{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    text-align: center;
    margin-top: 20%;
}

.quiz h2{
    font-size: 6rem;
    font-family: Inter, sans-serif;
}

footer {
    background-color: #899C3D;
    margin-top: 20rem;
}
.footer-content{
    display: grid;
    padding: 50px 15% 50px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.redes{
    color: rgb(2, 29, 0);
    display: flex;
    flex-direction: column ;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
    font-family: Inter, sans-serif;
    font-weight: bold;
    
}

.nome-redes{
    padding: 0.5em;
}

.logo_redes{
    display: flex;
    gap: 5rem;
}

.logo_redes a{
    padding: 0.5rem;
}

.fa-brands{
    color:rgb(2, 29, 0);
    font-size: 3rem;
    margin: 0;
    
}

footer .logo{
    margin: 0;
}

/* deixando responsivo */

@media screen and (max-width: 1200px) {

    header{
        flex-direction: column;
        justify-content: center;
    }

    .busca input{
        width: 100%;
    };

    .conta{
        border: none;
    }

    .conta p{
        display: none;
    }

    .conta i{
        font-size: 5rem;
    }

    .cabecalho{
        gap: 5rem;
        text-align: center;
        width: 100vw;
    }

    .cabecalho a{
        font-size: 2.5rem;
        width: 13em;
    }

    
    .conteudo .grid-container{
        grid-template-columns: auto;
    }

    .nav nav{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        width: 100%;
        align-content: center;
    }


    .footer-content{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .footer-content .logo{
        justify-self: center;
    }
    
    footer .fa-brands{
        font-size: 4rem;
    }
}


@media screen and (orientation: landscape) {
    header{
        flex-direction: row;
    }
}